<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Listagem de Conta</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
</head>
<body>    
    <div id="panel_include" class="panel panel-primary">
        <div class="panel-heading" style="text-align: center">Opções do sistema</div>
    </div>
    <div style="text-align: center">
        <a href="home.php?class=InitList" class="btn btn-info"> Inicio </a>
        <a href="home.php?class=PessoaList" class="btn btn-primary"> Pessoa </a>
        <a href="home.php?class=MovimentacaoList" class="btn btn-success"> Movimentação </a>
        <a href="home.php?class=ContaList" class="btn btn-primary"> Conta </a>
    </div>
    <br>
    <div id="panel_include" class="panel panel-primary">
        <div class="panel-heading" style="text-align: center">Incluir/Atualizar conta <b>{id_f}</b></div>
    </div>
    <form enctype="multipart/form-data" method="post" action="home.php?class=ContaList&method=save">
        <input id="id" name="id" type="hidden" value="{id_f}">
        <div class="container">
            <div class="form-group">
                <label>Pessoa</label>
                <select class="form-control" size="1" id="pessoas_id" name="pessoas_id">
                    {combo_pessoas}             
                </select>
            </div>                
            <div class="form-group">
                <label>Nº Conta</label>
                <input id="numero_conta" name="numero_conta" type="number" class="form-control"
                placeholder="apenas 6 digitos. ex: 000001" value="{numero_conta_f}" 
                style="width: 50%" required max="999999" minlength="6" maxlength="6" onblur="VerifyConta(this.value)">
            </div>
        </div>        

        <div style="text-align: center">
            <input style="text-align: center" type="submit" class="btn btn-success" value="Enviar">
            <a href="home.php?class=ContaList" class="btn btn-danger"> Limpar formulário</a>
        </div>
    </form>
    <br>
    <div id="appTable" style="text-align: center" class="table-responsive" height="100%" width="100%">
    <div id="panel_include" class="panel panel-primary">
        <div class="panel-heading" style="text-align: center">Listagem de Conta</div>
    </div>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <td><b>Nome</b></td>
                    <td><b>CPF</b></td>
                    <td><b>Nº Conta</b></td>
                    <td><b>Qtd Movimentações</b></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody class="Table table-striped table-bordered table-hover">
                {items}
            </tbody>        
        </table>
    </div>
</body>
<script>
    var numero_conta = document.getElementById("numero_conta");
    var req;

    $(document).ready(function(){
		$("#numero_conta").mask("999999");
	});

    function VerifyConta(value_conta) {
        if (value_conta == "" || value_conta.disabled) return;
        var url2 = "class=ContaApi&method=verifyConta&numero_conta="+value_conta;
        $.post("home.php", url2, function( data ) {
            // console.log(data);
            var contas = JSON.parse(data);
            // console.log(contas[0]);
            if (contas[0].total != 0) {
                numero_conta.value = "";
                alert("Já existe uma conta com o numero "+value_conta+", favor escolher outro numero!");
            } 
        });
    } 
</script>
</html>